---
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const articole = await Astro.glob("./../data/articole/*.md");

  return articole.map((articol) => ({
    params: {
      articol: articol.frontmatter.link,
    },
    props: {
      articol,
    },
  }));
}

const { Content, frontmatter } = Astro.props.articol;
---

<Layout title={frontmatter.title}>
  <div class="article">
    <div class="header">
      <h1 class="title">{frontmatter.title}</h1>
      <img
        src={"./../articole/" + frontmatter.image}
        alt={frontmatter.title + " title"}
      />
      <div class="details">
        <p class="sources">
          Sursa: <a href={frontmatter.sursa}>{frontmatter.titluSursa}</a>
        </p>
        <p class="date">{frontmatter.date}</p>
      </div>
    </div>
    <div class="content">
      <Content />
    </div>
  </div>
</Layout>

<style lang="scss">
  .content {
    box-shadow: none;
  }
  .article {
    padding: 7.5rem 5vw;
    width: 70%;
    margin: 0 auto;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    @media (max-width: #{768px}) {
      width: 90%;
      padding: 7.5rem 1rem;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        margin-bottom: 2.5rem;
      }

      img {
        width: 600px;
        @media (max-width: #{768px}) {
          width: 100%;
        }
      }
      .details {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .sources {
          margin-top: 1rem;
        }
      }
    }

    .content {
      margin: 2vh auto;
      align-items: baseline;
      width: 100%;
    }
  }
</style>
