---
import Layout from "../layouts/Layout.astro";
import solarPanel from "../assets/images/servicii_energie_electrica/solarPanel.jpg";

const content = {
  heroSection: {
    image: solarPanel,
    title: "Energie Electrica",
  },
  section: {
    title: "Procesul de schimbare a furnizorului",
  },
};

const data = [
  {
    categoryName: "MODALITATE DE LUCRU",
    id: "modalitateDeLucru",
    content: [
      {
        type: "title",
        text: "Vă prezentăm paşii ce trebuie urmaţi pentru a schimba furnizorul de energie electrică de către consumatorii eligibil:",
      },
      {
        type: "bold",
        text: "Pas 1",
      },
      {
        type: "text",
        text: "Intocmire cerere de oferta de catre consumator si transmiterea acesteia catre:",
      },
      {
        type: "text",
        text: "Departament ofertare/contractare | Telefon: 0374032032 | Fax: 0213211118 | E-mail: office@getica95.ro",
      },
      {
        type: "line",
        text: "",
      },
      {
        type: "bold",
        text: "Pas 2",
      },
      {
        type: "text",
        text: "Completare Chestionar energetic (Specialistii nostrii va vor ajuta sa-l completati daca intampinati greutati cu aceasta)",
      },
      {
        type: "line",
        text: "",
      },
      {
        type: "bold",
        text: "Pas 3",
      },
      {
        type: "text",
        text: "Negociere, agreere Contract de furnizare energie electrica",
      },
      {
        type: "line",
        text: "",
      },
      {
        type: "bold",
        text: "Pas 4",
      },
      {
        type: "text",
        text: "Transmiterea către noi a tuturor Avizelor Tehnice de Racordare (ATR) pentru fiecare punct de consum în parte şi a prognozelor de consum lunare pentru fiecare punct de consum. ( Daca consumatorii nu sunt in posesia ATR-urilor le putem pune la dispozitie un model de cerere si o adresa email la care sa o trimita dupa ce o completeaza).",
      },
      {
        type: "line",
        text: "",
      },
      {
        type: "bold",
        text: "Pas 5",
      },
      {
        type: "text",
        text: "Semnare Contract de furnizare",
      },
      {
        type: "line",
        text: "",
      },
      {
        type: "bold",
        text: "Pas 6",
      },
      {
        type: "text",
        text: "Notificarea fostului furnizor cu cel puţin 21 de zile înainte de intrarea în vigoare a noului contract de furnizare.",
      },
      {
        type: "text",
        text: "- INDICAT AR FI 30 DE ZILE INAINTE PENTRU A AVEA TIMPUL NECESAR EFECTUARII EVENTUALELOR PLATI DEJA SCADENTE CATRE FOSTUL FURNIZOR.",
      },
      {
        type: "line",
        text: "",
      },
      {
        type: "bold",
        text: "Pas 7",
      },
      {
        type: "text",
        text: "Înregistrarea de către GETICA 95 COM a contractului la autorităţile competente, moment în care începe derularea efectivă a noului contract.",
      },
    ],
  },
  {
    categoryName:
      "Model cerere client final, solicitare incheiere contract piata concurentiala, contracte furnizare energie electrica client casnic si noncasnic, notificare privind incetarea contractului de furnizare a energiei electrice",
    id: "modelCerere",
    content: [
      {
        type: "text",
        text: "Intocmire cerere de oferta de catre consumator si transmiterea acesteia catre:",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./acord_gdpr.pdf",
      },
      {
        type: "text",
        text: "Descarca model cerere client casnic nou",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./cerere_casnic_contract_nou.pdf",
      },
      {
        type: "text",
        text: "Descarca model cerere client casnic existent",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./cerere_casnic_contract_existent.pdf",
      },
      {
        type: "text",
        text: "Descarca model cerere client noncasnic nou",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./cerere_noncasnic_contract_nou.pdf",
      },
      {
        type: "text",
        text: "Descarca model cerere client noncasnic existent",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./cerere_noncasnic_contract_existent.pdf",
      },
      {
        type: "text",
        text: "Descarca contract client casnic",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./contract_casnic.pdf",
      },
      {
        type: "text",
        text: "Descarca contract client noncasnic",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./contract_noncasnic.pdf",
      },
      {
        type: "text",
        text: "Descarca contract client casnic serviciu universal",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./Contract%20cadru%20SU%20consumatori%20casnici.pdf",
      },
      {
        type: "text",
        text: "Descarca notificare privind incetarea contractului de furnizare a energiei electrice client casnic",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./notificare_casnic.pdf",
      },
      {
        type: "text",
        text: "Descarca notificare privind incetarea contractului de furnizare a energiei electrice client noncasnic",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./notificare_noncasnic.pdf",
      },
      {
        type: "text",
        text: "Descarca Declaratie pe proprie răspundere privind folosința locului de consum",
      },
      {
        type: "link",
        text: "Download (pdf)",
        link: "./declaratie_folosinta_locconsum.pdf",
      },
    ],
  },
  {
    categoryName: "Chestionar",
    id: "chestionar",
    content: [
      {
        type: "title",
        text: "Chestionarul energetic poate fi accesat de aici",
      },
      {
        type: "btn",
        text: "Acceseaza chestionarul energetic",
        link: "./chestionar-energetic",
      },
    ],
  },
  {
    categoryName: "Ghid",
    id: "ghid",
    content: [
      {
        type: "title",
        text: "Procesul de schimbare a furnizorului",
      },
      {
        type: "btn",
        text: "Ghidul consumatorului de energie (PDF)",
        link: "./GhidE.pdf",
      },
    ],
  },
  {
    categoryName:
      "GHID EXPLICATIV PRIVIND ELEMENTELE COMPONENTE ALE FACTURII DE ENERGIE ELECTRICA",
    id: "ghidFactura",
    content: [
      {
        type: "title",
        text: "Ghidul explicativ privind elementele componente ale facturii de energie electrica",
      },
      {
        type: "btn",
        text: "Ghidul consumatorului de energie (PDF)",
        link: "./ghidenergie.pdf",
      },
    ],
  },
  {
    categoryName: "INDICATORI DE PERFORMANTA 2022",
    id: "indicatoriDePerformanta2022",
    content: [
      {
        type: "title",
        text: "Indicatori de performanta 2022",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul I",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-I-%202022.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul II",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-II-%202022.pdf",
      },
      {
        type: "text",
        text: "ANEXA 3 / An 2022",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%203%20Standard%20de%20performanta%20An%202022.pdf",
      },
    ],
  },
  {
    categoryName: "INDICATORI DE PERFORMANTA 2021",
    id: "indicatoriDePerformanta2021",
    content: [
      {
        type: "title",
        text: "Indicatori de performanta 2021",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul I",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-I-%202021.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul II",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-II-%202021.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul III",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-III-%202021.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul IV",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-IV-%202021.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / An 2021",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%202021.pdf",
      },
      {
        type: "text",
        text: "ANEXA 3 / An 2021",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%203%20Standard%20de%20performanta%20An%202021.pdf",
      },
    ],
  },
  {
    categoryName: "INDICATORI DE PERFORMANTA 2020",
    id: "indicatoriDePerformanta2020",
    content: [
      {
        type: "title",
        text: "Indicatori de performanta 2020",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul I",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-I-%202020.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul II",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-II-%202020.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul III",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-III-%202020.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / Trimestrul IV",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%20-IV-%202020.pdf",
      },
      {
        type: "text",
        text: "ANEXA 2 / An 2020",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%202%20-%20SP-FEE%20-%20Standard%20de%20Performanta%20Ord%207%202020.pdf",
      },
      {
        type: "text",
        text: "ANEXA 3 / An 2020",
      },
      {
        type: "link",
        text: "Download (PDF)",
        link: "./Anexa%203%20Standard%20de%20performanta%20An%202020.pdf",
      },
    ],
  },
];
---

<Layout title="Procesul de schimbare a furnizorului">
  <div class="heroSection">
    <img src={content.heroSection.image} alt="Solar Panel image" />
    <h1>{content.heroSection.title}</h1>
  </div>
  <div class="content">
    <h2>{content.section.title}</h2>

    <div class="wrapper">
      <!-- Tab links -->
      <div class="tab">
        {
          data.map((tab) => {
            return (
              <button class="tablinks" onclick={`openTab(event, '${tab.id}')`}>
                {tab.categoryName}
              </button>
            );
          })
        }
      </div>

      <div class="contentTabs">
        <!-- Tab content -->

        {
          data.map((tab) => {
            return (
              <div id={tab.id} class="tabcontent">
                {tab.content.map((content) => {
                  switch (content.type) {
                    case "title":
                      return <h2>{content.text}</h2>;
                      break;
                    case "bold":
                      return <b>{content.text}</b>;
                      break;
                    case "text":
                      return <p>{content.text}</p>;
                      break;
                    case "link":
                      return <a href={content.link}>{content.text}</a>;
                      break;
                    case "btn":
                      return (
                        <a class="btn-secondary" href={content.link}>
                          {content.text}
                        </a>
                      );
                      break;
                    case "line":
                      return <p class="borderBottom">{content.text}</p>;
                      break;
                  }
                })}
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  /* Style the tab */

  .wrapper {
    display: flex;
    width: 100%;

    @media (max-width: #{768px}) {
      flex-direction: column;
    }

    .tab {
      flex: 0 0 25%;
      display: flex;
      border: 1px solid #e6e5e7;
      background-color: #fcfbfc;
      flex-direction: column;
      text-align: left;

      button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        text-align: left;

        &:hover {
          background-color: #e6e5e7;
        }
        &.active {
          color: #fcfbfc;
          background-color: #3961a7;
        }
      }
    }

    .contentTabs {
      flex: 0 0 75%;

      .tabcontent {
        display: none;
        border: 1px solid #ccc;
        border-top: none;
        padding: 1.5rem 1rem;

        b {
          margin-bottom: 1.5rem;
        }
        p {
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }
      }
      .tabcontent {
        animation: fadeEffect 1s; /* Fading effect takes 1 second */
      }
    }
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script is:inline>
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  function openTab(evt, tabName) {
    // Get all elements with class="tabcontent" and hide them
    let tabcontent = document.getElementsByClassName("tabcontent");
    for (let i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    let tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
